body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(249, 204, 186);
}

.centreTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
